langchain-core>=0.2.10,<0.3
langchain==0.2.5
langchain-openai==0.1.9
python-dotenv==1.0.1
langgraph==0.1.1
pydantic>=1.10.13,<2
langchain-community==0.2.5
langchain-anthropic==0.1.16

cassio
langchain_groq==0.1.10
langchain_huggingface==0.0.3
langserve==0.2.1
fastapi==0.110.3
uvicorn==0.23.2